aiogram==3.13.1
alembic==1.17.1
cryptography==43.0.1
fastapi==0.115.2
pydantic==2.9.2
pydantic-settings==2.5.2
asyncmy==0.2.10
redis==5.0.8
SQLAlchemy==2.0.44
uvicorn[standard]==0.32.0
celery==5.4.0
pytz==2024.1
python-jose[cryptography]==3.3.0
